<%- include('./common/header.ejs') %>
  
    <div class="wrapper">
        <div class="main-wrap">
            <div class="chatting-wrap">
                <ul class="chatting-list">
    
                </ul>
                <div class="input-wrap">
                    <div class="user-container">
                        <input type="text" id="nickname" value="<%=userName%>">
                    </div>
                    <div class="input-container">
                        <select class="chatting-type">
                            <option>전체</option>
                        </select>
                        <input type="text" class="chatting-input">
                        <button class="send-button"><img src="/img/send_icon.svg"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <!-- <script type="text/javascript" src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/chat.js"></script>

    
<%- include('./common/footer.ejs') %>