<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="/css/login.css">
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" id="id" placeholder="아이디"/>
            <input type="text" id="name" placeholder="이름"/>
            <input type="password" id="password" placeholder="비밀번호"/>
            <input type="password" id="password-re" placeholder="비밀번호 확인"/>
            <button type="button">SIGN UP</button>
          </form>
        </div>
    </div>

    <script src="/js/register.js"></script>
</body>
</html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->